src/main/resources/downloaded
target
.idea/workspace.xml
.idea/libraries
properties/config.properties

downloaded
birdwatcher/twitter-source-fluentd.txt
birdwatcher/.vagrant
birdwatcher/td-agent.conf

birdwatcher/.idea
birdwatcher/puppet/local.yaml
