.location {
    background-color: #D1D3E4;
    padding: 0.1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border-radius: .2em;
    margin-right: .3em;
}

.bird {
    background-color: #FFDA73;
    padding: 0.1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border-radius: .2em;
    margin-right: .3em;
}

.highlight {
    font-size: small;
    padding-bottom: .2em;
}

.highlight > em {
    background-color: yellow;
}