cluster.name=birdmining
server.name=localhost
facebook.access.token=CAACEdEose0cBAFAgo9MOj9DxAYI8WxAoRoFZCdNXkdH7xP1AhRJF5YxbwyfZC5bZBr8cirXXjUke1Hc05MfkXZAd7tqQoXJami77DRmrvOO5p4avt3CmyvDk9euJGS59cASFQPdQoa2zChnK2hbK4kvH9myZBT3fyYrowQVz3nWXG7ZASDETkMpnK
