<!DOCTYPE html>
<html ng-app="birdMiningApp">
<head>
    <title>Bird Mining Backoffice</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="styles/birdmining.css" media="all" rel="stylesheet"/>
</head>
<body ng-init>
<div class="col-md-9" ng-controller="candidateController">
    <button class="btn btn-default" type="submit" ng-click="refreshCandidateList()">Get Candidates</button>
    Total candidates: {{returnTotalCandidates()}}
    <div class="table-responsive">
        <table class="table table-striped">
            <tr ng-repeat="candidate in candidates">
                <td>{{candidate.id}}</td>
                <!--td>{{candidate.file}}</td-->
                <td>{{candidate.highlight}}</td>
                <td>{{candidate.percolators}}</td>
            </tr>
        </table>
    </div>
</div>

<script src="lib/angular/angular.js"></script>
<script src="scripts/module.js"></script>
<script src="scripts/controllers.js"></script>
</body>
</html>