<!DOCTYPE html>
<html ng-app="birdMiningApp">
<head>
    <title>Bird Mining Backoffice</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="styles/birdmining.css" media="all" rel="stylesheet"/>
</head>
<body ng-init>
<div ng-controller="candidateController">
    <button class="btn btn-default" type="submit" ng-click="refreshCandidateList()">Get Candidates</button>
    Total candidates: {{returnTotalCandidates()}}
    <ul>
        <li ng-repeat="candidate in candidates">
            <div>{{candidate.message}}</div>
        </li>
    </ul>
</div>

<script src="lib/angular/angular.js"></script>
<script src="scripts/module.js"></script>
<script src="scripts/controllers.js"></script>
</body>
</html>