<!DOCTYPE html>
<html ng-app="birdMiningApp">
<head>
    <title>Bird Mining Backoffice</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="styles/birdmining.css" media="all" rel="stylesheet"/>
</head>
<body ng-init>
<div class="container" ng-controller="candidateController" ng-init="refreshCandidateList()">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-default" type="submit" ng-click="refreshCandidateList()">Get Candidates</button>
            Total candidates: {{returnTotalCandidates()}}
            <div class="type" ng-repeat="item in items">
                <a class="bucket_item" ng-click="filterByKey(item.key)">
                    <span>{{item.key}}: </span><span>{{item.count}}</span>
                </a>
            </div>
        </div>
        <div class="col-md-9">            
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="candidate in candidates">
                    <!--td>{{candidate.id}}</td-->
                    <div><strong>{{candidate.file}}</strong></div>
                    <div>
                        <span class="location" ng-repeat="location in candidate.locations">
                            {{location}}
                        </span>
                    </div>
                    <div>
                        <span class="bird" ng-repeat="bird in candidate.birds">
                            {{bird}}        
                        </span>
                    </div>
                    <div ng-bind-html="candidate.highlight"></div>
                    <!--td>{{candidate.percolators}}</td-->
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-sanitize.js"></script>
<script src="scripts/module.js"></script>
<script src="scripts/controllers.js"></script>
</body>
</html>