<source>
  type twitter
  consumer_key        <your app key>
  consumer_secret     <your app secret>
  oauth_token         <your access token for your user>
  oauth_token_secret  <your access secret for your user>
  tag                 input.twitter
  timeline            sampling                # Required (sampling or userstream)
  keyword            ${hashtag}bird,${hashtag}birding,${hashtag}twitch
  output_format       simple                  # or flat or nest
</source>

<source>
  type exec
  command java -cp "/vagrant/out:/vagrant/repository/*" info.alpenglow.IngestFromFacebook
  format json
  tag facebook.post
  time_key time
  #time_format %Y-%m-%d %H:%M:%S
  run_interval 1m
</source>

<match input.twitter>
  type elasticsearch
  index_name twitter
  type_name tweet
</match>

<match facebook.*>
  type elasticsearch
  index_name facebook
  type_name post
</match>

<source>
  type forward
  port 24224
</source>

