<source>
  type twitter
  consumer_key        <your app key>
  consumer_secret     <your app secret>
  oauth_token         <your access token for your user>
  oauth_token_secret  <your access secret for your user>
  tag                 input.twitter
  timeline            sampling                # Required (sampling or userstream)
  keyword            ${hashtag}bird
  output_format       simple                  # or flat or nest
</source>

<source>
  type exec
  java -cp /vagrant/out:/vagrant/repository/restfb-1.6.14.jar info.alpenglow.IngestFromFacebook
  format json
  tag facebook.post
  #time_key k2
  #time_format %Y-%m-%d %H:%M:%S
  run_interval 1m
</source>

<source>
  type tail
  path /home/vagrant/facebookPosts.txt
  pos_file /var/log/td-agent/facebookPosts.pos
  tag facebook.post
  format json
  time_key created_time
</source>

<match input.twitter>
  type elasticsearch
  host 192.168.50.1
  port 9200
  index_name twitter
  type_name tweet
</match>

<match facebook.post>
  type elasticsearch
  host 192.168.50.1
  port 9200
  index_name facebook
  type_name post
</match>
